@charset "UTF-8"; html,body {height:100%}
.body {font-family:"Nunito",sans-serif; font-weight:400; font-size:18px; line-height:1.5; color:#828282}
@media (max-width:992px) {.body {font-size:16px}
}
@media (max-width:576px) {.body {font-size:14px}
}
.wrapper {display:flex; flex-direction:column; min-height:100%; overflow-x:hidden}
.main {flex:1 1 auto}
div[class*=__container] {max-width:1230px; margin:0 auto; padding:0 15px}
.title {font-family:"Playfair Display",sans-serif; font-weight:700; font-size:48px; text-align:center; line-height:1.2; display:inline-block; position:relative; color:#25282b; padding-bottom:12px; margin:0 auto}
@media (max-width:1200px) {.title {font-size:42px}
}
@media (max-width:992px) {.title {font-size:36px}
}
.title::before {content:""; position:absolute; bottom:0; left:50%; width:55.5555555556%; height:4px; border-radius:2px; background-color:#6db9ff; transform:translateX(-50%)}
.button {display:inline-flex; max-width:-moz-fit-content; max-width:-webkit-fit-content; max-width:fit-content; cursor:pointer; line-height:44px; font-weight:600; color:#25282b; padding:0 24px; border:2px #25282b solid; color:#25282b; border-radius:8px; background-color:transparent; transition:all 0.3s ease}
@media (max-width:768px) {.button {line-height:36px; font-size:16px; padding:0 20px}
}
@media (min-width:992px) {.button:hover {background-color:#6db9ff; border:2px transparent solid}
}
.button_blue {background-color:#6db9ff; border:2px transparent solid}
@media (min-width:992px) {.button_blue:hover {background-color:transparent; border:2px #25282b solid; color:#25282b}
}
.header {position:absolute; top:0; left:0; right:0; padding:14px 0; z-index:1}
@media (max-width:768px) {.header {padding:12px 0}
}
@media (max-width:576px) {.header {position:relative}
}
.header__container {display:flex; align-items:center; justify-content:space-between; min-height:56px}
@media (max-width:768px) {.header__container {flex-direction:column; gap:10px}
}
.header__logo {font-family:"Comfortaa",sans-serif; color:#25282b; line-height:180%}
@media (max-width:768px) {.header__logo {font-size:24px}
}
.header__list {padding:2px 0; display:flex; gap:48px; align-items:center}
@media (max-width:992px) {.header__list {gap:30px}
}
@media (max-width:768px) {.header__list {gap:20px}
}
@media (max-width:576px) {.header__list {flex-direction:column; gap:5px}
}
.header__link {color:#25282b; position:relative; padding-bottom:4px; display:inline-block; overflow:hidden; transition:all 0.3s ease}
@media (min-width:992px) {.header__link:before {content:""; position:absolute; bottom:0; left:0; right:0; height:2px; border-radius:1px; width:100%; background-color:#25282b}
 .header__link:before {transition:all 0.3s ease; transform:translateX(-100%)}
 .header__link:hover:before {transform:translateX(0%)}
 .header__link_active::before {transform:translateX(0%)}
}
@media (max-width:992px) {.header__link {font-size:16px}
}
@media (max-width:768px) {.header__link {font-size:14px}
}
@media (max-width:576px) {.header__link {font-size:16px}
}
.header__link:hover {color:#000}
.info {padding-bottom:144px; position:relative; padding-top:84px}
@media (max-width:1200px) {.info {padding-top:80px; padding-bottom:80px}
}
@media (max-width:576px) {.info {padding-top:10px; padding-bottom:60px}
}
.info__container {display:flex; min-height:629px}
@media (max-width:1200px) {.info__container {min-height:0}
}
@media (max-width:768px) {.info__container {flex-direction:column-reverse}
}
.info__container_about {min-height:0}
.info__inner {flex:0 1 50%; padding-right:144px; display:flex; flex-direction:column; justify-content:center}
@media (max-width:1200px) {.info__inner {padding-right:80px; padding-top:25px}
}
@media (max-width:992px) {.info__inner {padding-right:40px; padding-top:10px}
}
@media (max-width:768px) {.info__inner {padding-top:0; padding-right:0; flex:1 1 100%}
}
.info__inner_about {padding-right:0}
.info__speciality {font-weight:700; color:#6db9ff; font-size:20px; text-transform:uppercase; margin-bottom:12px}
@media (max-width:1200px) {.info__speciality {font-size:18px; margin-bottom:8px}
}
@media (max-width:992px) {.info__speciality {font-size:16px; margin-bottom:6px}
}
.info__title {font-family:"Playfair Display",sans-serif; font-weight:700; font-size:64px; line-height:120%; color:#25282b; margin-bottom:32px}
@media (max-width:1200px) {.info__title {font-size:56px}
}
@media (max-width:992px) {.info__title {font-size:48px}
}
@media (max-width:576px) {.info__title {font-size:36px}
}
@media (max-width:1200px) {.info__title {margin-bottom:24px}
}
@media (max-width:992px) {.info__title {margin-bottom:18px}
}
.info__text {font-size:24px; margin-bottom:32px}
@media (max-width:1200px) {.info__text {font-size:20px; margin-bottom:24px}
}
@media (max-width:992px) {.info__text {font-size:18px; margin-bottom:18px}
}
.info__buttons {display:flex; gap:12px}
.info__button.info__button_no-hover.button_blue:hover {background-color:#6db9ff; border:2px transparent solid}
.info__photo {position:absolute; top:0; right:0; width:50vw; max-width:720px; background:url(../img/info/info-img-bg.svg) 0 0/100% 100% no-repeat}
@media (max-width:768px) {.info__photo {margin:auto; width:100%; max-width:500px; position:static; margin-bottom:20px}
}
.info__photo img {width:100%; -webkit-mask-image:url(../img/info/info-img-bg.svg); mask-image:url(../img/info/info-img-bg.svg); -webkit-mask-size:100%; mask-size:100%}
.info__photo_about {flex:0 1 50%; padding-left:88px; position:static}
@media (max-width:1200px) {.info__photo_about {padding-left:60px}
}
@media (max-width:768px) {.info__photo_about {padding-left:0; padding-top:20px}
}
@media (max-width:576px) {.info__photo_about {padding-top:0}
}
.info__photo_about img {position:static; width:100%}
.projects {padding-bottom:220px}
@media (max-width:992px) {.projects {padding-bottom:150px}
}
@media (max-width:768px) {.projects {padding-bottom:100px}
}
@media (max-width:576px) {.projects {padding-bottom:60px}
}
.projects__container {max-width:992px; display:flex; flex-direction:column}
.projects__title {margin-bottom:80px; align-self:center}
@media (max-width:1200px) {.projects__title {margin-bottom:60px}
}
@media (max-width:992px) {.projects__title {margin-bottom:40px}
}
.card-projects {display:flex; border-radius:24px; overflow:hidden; min-height:524px; box-shadow:0 6px 64px rgba(112,144,176,0.1)}
@media (max-width:1200px) {.card-projects {min-height:450px; border-radius:20px}
}
@media (max-width:992px) {.card-projects {min-height:380px}
}
@media (max-width:768px) {.card-projects {flex-direction:column-reverse; border-radius:15px; min-height:0}
}
@media (max-width:576px) {.card-projects {border-radius:10px}
}
.card-projects:nth-child(2n+1) {flex-direction:row-reverse}
@media (max-width:768px) {.card-projects:nth-child(2n+1) {flex-direction:column-reverse}
}
.card-projects:not(:last-child) {margin-bottom:80px}
@media (max-width:1200px) {.card-projects:not(:last-child) {margin-bottom:60px}
}
@media (max-width:992px) {.card-projects:not(:last-child) {margin-bottom:40px}
}
.card-projects__inner {flex:0 1 50%; display:flex; flex-direction:column; justify-content:center; gap:24px; padding:0 50px; background-color:#fff}
@media (max-width:992px) {.card-projects__inner {padding:0 40px}
}
@media (max-width:768px) {.card-projects__inner {flex:1 0 50%; padding:50px 20px}
}
@media (max-width:576px) {.card-projects__inner {padding:30px 20px; gap:15px}
}
.card-projects__title {font-family:"Playfair Display",sans-serif; font-weight:700; font-size:40px; line-height:1.2; color:#25282b}
@media (max-width:992px) {.card-projects__title {font-size:36px}
}
@media (max-width:768px) {.card-projects__title {font-size:32px}
}
@media (max-width:576px) {.card-projects__title {font-size:28px}
}
.card-projects__button {border-radius:24px; border-width:1px}
.card-projects__button:hover {border-width:1px}
.card-projects__image {flex:0 1 50%; position:relative}
@media (max-width:768px) {.card-projects__image {flex:1 1 100%; min-height:250px}
}
@media (max-width:576px) {.card-projects__image {min-height:200px}
}
.card-projects__image img {position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%; -o-object-fit:cover; object-fit:cover}
.contact {padding-bottom:60px}
.contact__container {display:flex; flex-direction:column}
.contact__title {margin-bottom:80px; align-self:center}
@media (max-width:1200px) {.contact__title {margin-bottom:60px}
}
@media (max-width:992px) {.contact__title {margin-bottom:40px}
}
.form-contact {width:400px; max-width:100%; margin:auto; display:flex; flex-direction:column; position:relative}
.form-contact._active .form-contact__inner {-webkit-filter:blur(2px);filter:blur(2px); pointer-events:none; -webkit-touch-callout:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none}
.form-contact._active .form-contact__spinner {display:block}
.form-contact__error-text {display:none}
.form-contact__item {margin-bottom:16px}
.form-contact__item._error label {color:red}
.form-contact__item._error input {border-color:red}
.form-contact__item._error .form-contact__error-text {display:block; color:red; font-size:14px}
.form-contact__lable {font-size:17px; font-weight:600; color:#25282b; margin-bottom:8px}
.form-contact__lable._active {color:red}
.form-contact__lable._active + input {border-color:red}
.form-contact__input {height:40px; width:100%; border-radius:8px; background-color:transparent; border:1px #e8ecf4 solid; margin-bottom:8px; padding:10px 15px; color:#25282b}
.form-contact__input:focus {background-color:#eee}
.form-contact__textarea {height:160px; width:100%; border-radius:8px; background-color:transparent; border:1px #e8ecf4 solid; margin-bottom:24px; padding:10px 15px; color:#25282b}
.form-contact__textarea:focus {background-color:#eee}
.form-contact__button {margin-left:auto}
.form-contact .form-contact__spinner {display:none; -webkit-animation:rotate 2s linear infinite; animation:rotate 2s linear infinite; z-index:2; position:absolute; top:50%; left:50%; margin:-25px 0 0 -25px; width:50px; height:50px}
.form-contact .form-contact__spinner .path {stroke:#6db9ff; stroke-linecap:round; -webkit-animation:dash 1.5s ease-in-out infinite; animation:dash 1.5s ease-in-out infinite}
@-webkit-keyframes rotate {100% {transform:rotate(360deg)}
}
@keyframes rotate {100% {transform:rotate(360deg)}
}
@-webkit-keyframes dash {0% {stroke-dasharray:1,150; stroke-dashoffset:0}
 50% {stroke-dasharray:90,150; stroke-dashoffset:-35}
 100% {stroke-dasharray:90,150; stroke-dashoffset:-124}
}
@keyframes dash {0% {stroke-dasharray:1,150; stroke-dashoffset:0}
 50% {stroke-dasharray:90,150; stroke-dashoffset:-35}
 100% {stroke-dasharray:90,150; stroke-dashoffset:-124}
}
.footer {padding-bottom:15vw; background:url(../img/footer/Vector.svg) center bottom/100% no-repeat}
.footer__container {display:flex; flex-direction:column; align-items:center}
.footer__icons {display:flex; gap:calc(15px + 1.048951049vw); margin-bottom:calc(20px + 1.048951049vw)}
.footer__icon {font-size:calc(32px + 1.1188811189vw); color:#25282b; transition:all 0.3s ease}
@media (min-width:992px) {.footer__icon:hover {color:#6db9ff}
 .footer__icon:has(i.fa-telegram):hover {color:#27a7e7}
 .footer__icon:has(i.fa-vk):hover {color:#597da3}
 .footer__icon:has(i.fa-whatsapp):hover {color:#2bb741}
}
.footer__info {font-size:16px; text-align:center}
.message {position:fixed; left:50%; top:-100%; max-width:37vw; transform:translateX(-50%); border-radius:8px; padding:10px 20px; background-color:#6db9ff; color:#25282b; -webkit-animation:none; animation:none; overflow-wrap:break-word; text-align:center}
@media (max-width:768px) {.message {max-width:50vw}
}
@media (max-width:576px) {.message {max-width:none; width:70vw; padding:10px}
}
.message._active {-webkit-animation:send 4s ease;animation:send 4s ease}
@-webkit-keyframes send {0% {top:-100%}
 25% {top:20px}
 75% {top:20px}
 100% {top:-100%}
}
@keyframes send {0% {top:-100%}
 25% {top:20px}
 75% {top:20px}
 100% {top:-100%}
}
